@media(min-width: 992px) {
    .navbar-expand-lg { 
        .navbar-nav {
            width: 100%;
        }
    }
}
  
@media(min-width: 768px) {
    .navbar-expand-lg {
        .navbar-nav {
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .superTitle {
        font-size: 1.1em;
        font-weight: bold;
        margin: 1px;
    }

    .mediaSize {
        align-items: end;
        flex: column;
    }

    .categoriesTitle {
        font-size: 1.6em;
    }

    .categoriesName {
        font-size: 1.29em;
    }

    .categoriesImg {
        max-width:80%;
        height: auto;
    }

    .navbar-toggler {
        position: absolute;
    }

    .imgNov {
        max-width:150%;
        height: auto;
    }

    .rightFloatButton {
        margin-right: 0px;
    }
    
    .cartBtn {
        margin-right: 0px;
    }

    a:not([href]):not([tabindex]) {
        color: white;
    }

    .header {
        flex-direction: column;
    }
    
    .search-cart {
    justify-content: space-between;
    flex-direction: column;
    }

    .search {
    margin-right: 0;
    margin-bottom: 10px;
    }

    .titulo {
    margin-left: 5px;
    margin-right: 5px;
    }
    
}